.warning-box {
  border-left: 4px solid #e74c3c;
  background-color: rgba(220, 38, 38, 0.1);
  padding: 12px;
  margin: 12px 0;
  border-radius: 14px;
}

.warning-box strong {
  color: #dc2626;
}


.note-box {
  border-left: 4px solid #60a5fa;
  background-color: rgba(59, 130, 246, 0.08);
  padding: 12px;
  margin: 12px 0;
  border-radius: 14px;
}

.note-box strong {
  color: #1e40af;
}