.fern-background-image {
  background-color: #000000;

  background-image: radial-gradient(
    ellipse 65% 40% at 50% 0%,
    rgba(21, 68, 138, 0.8) 0%,
    rgba(0, 70, 180, 0.45) 30%,
    rgba(6, 77, 209, 0.2) 55%,
    #010411 100%
  );
}

#fern-header {
  background: rgba(0, 0, 0, 0.35) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.fern-sidebar-heading {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}


.fern-sidebar-link-title-inner {
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.fern-sidebar-link:hover .fern-sidebar-link-title-inner {
  color: #38bdf8 !important;
  text-shadow: 0 0 8px rgba(56, 189, 248, 0.6);
}

.fern-header-tabs [data-state="active"]::after {
  backdrop-filter: blur(0.5rem);
  background-color: transparent;
  display: none !important;
  content: none !important;
  font-weight: 0 !important;
}



.my-search-button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}








/* ================================
   Custom API Callouts
   ================================ */

/* NOTE */
.fern-prose blockquote.custom-note {
  border-left: 4px solid #3b82f6;
  background: rgba(59, 130, 246, 0.1);
  padding: 14px 18px;
  margin: 16px 0;
  border-radius: 6px;
}

/* WARNING */
.fern-prose blockquote.custom-warning {
  border-left: 4px solid #ef4444;
  background: rgba(239, 68, 68, 0.1);
  padding: 14px 18px;
  margin: 16px 0;
  border-radius: 6px;
}